@charset "UTF-8";

@media screen and (min-width:320px) and (max-width:767px){

/* CONFIGURAÇÕES GERAIS */
.flex{
    flex-direction: column;
}

.btn-fixo, .vertical-line{
    display: none;
}

.arrow-up i{
    font-size: 2.2em;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* MENU MOBILE */
.btn-abrir-menu {
    display: block;
    color: white;
}

.btn-abrir-menu i {
    font-size: 50px;
    margin-left: 20px;
}

/* CABEÇALHO */
.menu-desktop, .btn-contato{
    display: none;
}

nav ul li a::after{
    content: "";
    position: relative;
}

/* TOPO-DO-SITE */
section#topo-do-site{
    height: 80vh;
}

.txt-animado{
    margin-top: 50px;
}

.txt-animado h1{
    line-height: normal;
    font-size: 2.5em;
}

.txt-animado span{
    font-size: 1.8em;
    padding-bottom: 20px;
}

.btn-topo-do-site button{
    width: 120px;
    height: 50px;
    margin-right: 15px;
    transition: .3s;
    color: aqua;
    font-size: 0.5em;
    border: 4px solid aqua;
    margin-top: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-topo-do-site button:hover{
    box-shadow: 6px 6px 2px aqua;
}

/* SOBRE MIM*/

section#sobre img{
    width: 350px;
}

/* PROJETOS */
section#projetos{
    padding-top: 20%;
}

section#projetos .projetos-box {
    flex-direction: column; 
}

section#projetos .projetos-box .txt-projetos-box {
    width: 100%; 
    padding: 25px; 
}

section#projetos .projetos-box .txt-projetos-box p{
    font-size: 1.3em;
}

.projetos-box .txt-projetos-box button{
    margin-top: 60px;
}

section#projetos .projetos-box img {
    width: 100%;
    margin-bottom: 15px; 
}

/* RODAPÉ */
footer{
    padding-right: 5%;
}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .flex{
        flex-direction: column;
    }
    
    .btn-fixo, .vertical-line{
        display: none;
    }
    
    .arrow-up i{
        font-size: 2.2em;
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
    
    /* MENU MOBILE */
    .btn-abrir-menu {
        display: block;
        color: white;
    }
    
    .btn-abrir-menu i {
        font-size: 50px;
        margin-left: 20px;
    }
    
    /* CABEÇALHO */
    .menu-desktop, .btn-contato{
        display: none;
    }
    
    nav ul li a::after{
        content: "";
        position: relative;
    }
    
    /* TOPO-DO-SITE */
    section#topo-do-site{
        height: 70vh;
    }
    
    .txt-animado{
        margin-top: 50px;
    }
    
    .txt-animado h1{
        line-height: normal;
        font-size: 3em;
    }
    
    .txt-animado span{
        font-size: 3.5em;
        padding-bottom: 20px;
    }
    
    .btn-topo-do-site button{
        width: 150px;
        height: 70px;
        margin-right: 15px;
        transition: .3s;
        color: aqua;
        font-size: 0.8em;
        border: 4px solid aqua;
        margin-top: 50px;
        border-radius: 20px;
        cursor: pointer;
    }
    
    .btn-topo-do-site button:hover{
        box-shadow: 6px 6px 2px aqua;
    }
    
    /* SOBRE MIM*/
    
    section#sobre img{
        width: 450px;
    }

    section#sobre .txt-sobre h1 {
        font-size: 3.8em;
    }

    section#sobre .txt-sobre p{
        font-size: 2em;
        line-height: 38px;
    }
    
    
    /* PROJETOS */
    section#projetos{
        padding-top: 20%;
    }
    
    section#projetos .projetos-box {
        flex-direction: column; 
    }
    
    section#projetos .projetos-box .txt-projetos-box {
        width: 100%; 
        padding: 25px; 
    }
    
    section#projetos .projetos-box .txt-projetos-box p{
        font-size: 1.3em;
    }

    section#projetos h1{
        font-size: 3.8em;
    }
    
    .projetos-box .txt-projetos-box button{
        margin-top: 60px;
        width: 200px;
        height: 100px;
        box-shadow: 4px 4px 2px white;
    }

    .projetos-box .txt-projetos-box button i{
        font-size: 3.8em;
    }
    
    section#projetos .projetos-box img {
        width: 100%;
        margin-bottom: 15px; 
    }
    
    /* RODAPÉ */
    footer{
        padding-right: 5%;
    }
}