@charset "UTF-8";

        /* CONFIGURAÇÕES GERAIS */
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Outfit', sans-serif;
            background-color: black;
        }

        .flex{
            display: flex;
        }

        body{
            width: 100vw;
            height: 100vh;
        }

        .interface{
            margin: 0 auto;
            max-width: 100%;
        }

        li, a{
            list-style: none;
            text-decoration: none;
        }

        .btn-social button{
            font-size: 22px;
            font-weight: 700;
            color: black;
            background-color: rgb(234, 247, 255);
            border: 0;
            border-radius: 35px;
            cursor: pointer;
            transition: .2s;
            box-shadow: 1px 2px 10px white;
        }

        .btn-social button:hover{
            transform: scale(1.10);
        }

        .btn-fixo {
            position: fixed;
            bottom: 90px;
            left: 36px; /* Ajuste a distância da esquerda da janela conforme necessário */
            display: flex;
            flex-direction: column;
            z-index: 999;
        }
          
        .btn-social-fixo {
            color: white;
            border: none;
            padding: 10px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            position: relative;
            transition: 0.3s;
        }

        .btn-social-fixo:hover{
            color: aqua;
            transform: scale(1.15);
        }
          
        .btn-social-fixo i {
            font-size: 1.8em;
        }
        
        .vertical-line {
            content: "";
            width: 2px;
            height: 14%;
            background-color: aqua;
            position: fixed;
            bottom: 0;
            left: 65px; /* Ajuste a distância da esquerda da janela conforme necessário */
            transition: 0.3s;
            z-index: 999;
        }

        
        .horizontal-line {
            content: "";
            width: 85%;
            height: 2px;
            background-color: aqua;
            transition: 0.3s;
        }

        strong{
            text-transform: uppercase;
            color: rgb(55, 225, 225);
        }

        .arrow-up{
            color: white;
            position: fixed;
            z-index: 999;
            position: absolute;
            background-color: aqua;
        }

        .arrow-up a{
            color: white;
            text-decoration: none;
        }

        .arrow-up i{
            font-size: 3.2em;
            cursor: pointer;
            border-radius: 25%;
            position: fixed;
            bottom: 20px;
            right: 20px;
        }

        header{
            position: fixed;
            top: 0;
            height: 80px;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.0);
            z-index: 1000; 
        }
        
        header > .interface{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        header a{
            color: white;
            text-decoration: none;
            display: inline-block;
            transition: .2s;
        }
        
        header nav ul{
            list-style-type: none;
        }

        nav li a{
            position: relative;
            color: white;
        }

        nav li a::after{
            content: " ";
            width: 0%;
            height: 4px;
            background-color: aqua;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: 0.3s;
        }

        nav a:hover::after{
            width: 70%;
        }

        nav ul li{
            padding: 15px 7px 0px  0px;
            font-size: 1.3em;
        }
        
        header nav.menu-desktop ul li{
            display: inline-block;
            padding: 0 25px;
            font-size: 1.5em;
        }

        .btn-contato button{
            padding: 15px 50px;
            font-size: 1.3em;
            font-size: 18px;
            font-weight: 700;
            background-color: white; 
            border: 0;
            border-radius: 30px;
            cursor: pointer;
            transition: .2s;
            margin: 15px 20px 15px 25px;
        }

        .btn-contato button:hover{
            transform: scale(1.08);
        }
        
        /* ESTILO DO MENU MOBILE */
        .btn-abrir-menu i{
            color: aqua;
            font-size: 43px;
            font-weight: bolder;
        }
        
        .btn-abrir-menu{
            display: none;
        }
        
        .menu-mobile{
            background-color: black;
            height: 100vh;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 99999;
            width: 0%;
            overflow: hidden;
            transition: .3s;
        }
        
        .menu-mobile.abrir-menu{
            width: 60%;
        }
        
        .menu-mobile.btn-abrir-menu ~ .overlay-menu{
            display: block;
        }
        
        
        .menu-mobile .btn-fechar{
            padding: 20px 5%;
        }
        
        .menu-mobile .btn-fechar i{
            color: aqua;
            font-size: 30px;
        }
        
        .menu-mobile nav ul{
            text-align: right;
        }
        
        .menu-mobile nav ul li a{
            color: white;
            font-size: 1.5em;
            font-weight: 300;
            padding: 20px 21%;
            display: block;
        }
        
        .menu-mobile nav ul li a:hover{
            background-color: aqua;
            color: black;
        }
        
        
        .overlay-menu{
            background-color: #00000069;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 88888;
            display: none;
        }

        /* TOPO-DO-SITE */
        section#topo-do-site{
            padding: 17% 5%;
            height: 98vh;
            position: relative; 
            z-index: 1;
        }

        section#topo-do-site .flex{
            align-items: center;
            justify-content: center;
            background-color: black;
            color: white;
        }

        .txt-animado{
            text-shadow: 1px 1px 1px white;
        }

        .txt-animado .btn-topo-do-site button{
            font-size: 1.5em;
        }

        .txt-animado h1{
            font-size: 3.8em;
            font-weight: normal;
            line-height: 25px;
        }

        .txt-animado span{
            position: relative;
            text-shadow: none;
            font-size: 3.8em;
        }

        .txt-animado span::before{
            content: "";
            color: rgba(0, 255, 255, 0.959);
            animation: palavras 20s infinite;
        }

        .txt-animado span::after{
            content: "";
            position: absolute;
            height: 100%;
            right: -10px;
            animation: cursor .8s infinite, digita 20s steps(15) infinite;
            width: calc(100% + 18px);
            background-color: black;
        }

        @keyframes digita {
            10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
                width: 0;
            }

            5%, 20%, 25%,40%,45%,60%,65%,80%,85%{
                width: calc(100% + 18px);   
            }
        }

        @keyframes cursor{
            0%{
                border-left: 2px solid black;
            }
        }

        @keyframes palavras {
            0%,100%{
                content: "Desenvolvedor Front-End.";
            }
        }

        section#topo-do-site .flex .btn-social button{
            align-items: center;
            justify-content: center;
        }

        .btn-topo-do-site button{
            width: 180px;
            height: 50px;
            transition: .3s;
            color: aqua;
            font-size: 0.5em;
            border: 4px solid aqua;
            margin-top: 40px;
            border-radius: 20px;
            cursor: pointer;
        }

        .btn-topo-do-site button:hover{
            box-shadow: 6px 6px 2px aqua;
        }


        /* SOBRE MIM */
        section#sobre{
            color: white;
            padding: 0px 11% 0px 11%;
        }

        section#sobre .flex{
            gap: 50px;
            align-items: center;
            justify-content: center;
        }

        section#sobre .txt-sobre{
            margin-bottom: 48px;
        }

        section#sobre .txt-sobre h1{
            text-align: center;
            font-size: 2.7em;
            padding-bottom: 8px;
        }

        section#sobre .txt-sobre p{
            line-height: 30px;
            margin-top: 30px;
            font-size: 1.4em;
            text-align: justify;
        }

        section#sobre .img-sobre img{
            border-radius: 20px;
            transition: 0.3s;
        }

        section#sobre .img-sobre img:hover{
            box-shadow: 8px 8px 1px aqua;
        }

        /* PROJETOS */
        section#projetos{
            padding: 6% 8%;
            color: white;
        }

        section#projetos .flex{
            gap: 60px;
            flex-direction: column;
            margin-top: 28px;
        }

        section#projetos h1{
            text-align: center;
            padding-bottom: 3px;
            font-size: 2.8em;
        }

        section#projetos .projetos-box{
            display: flex;
            margin-top: 45px;
            justify-content: center;
            align-items: center;
            transition: .3s;
        }

        section#projetos .projetos-box:hover{
            transform: scale(1.05);
        }

         .projetos-box .txt-projetos-box{
            width: 350px;
            padding-bottom: 25px;
            padding-left: 25px;
        }

         .projetos-box .txt-projetos-box h2{
            text-align: center;
            font-size: 2em;
            padding-bottom: 25px;
        }
        
        .projetos-box .txt-projetos-box p{
            text-align: justify;
        }

        .projetos-box .txt-projetos-box button{
            width: 65px;
            height: 65px;
            color: white;
            border: none;
            margin-top: 23px;
            margin-right: 15px;
            cursor: pointer;
            transition: .2s;
            box-shadow: 2px 2px 2px white;
        }

        .projetos-box .txt-projetos-box button:hover{
            box-shadow: 6px 6px 1px white;
        }

        .projetos-box .txt-projetos-box button i{
            font-size: 2em;
        }

        /* RODAPÉ */
        footer{
            padding-top: 8%;
            padding-bottom: 15px;
            color: white;
            text-align: center;
        }

        footer h3{
            font-size: 1.2em;
        }